.git_Search{
    padding-left: 8vh;
    
}

.git_UN{
    font-size: 20px;
    height: 5vh;
    width: 60vw;
}

.git_S{
    height: 5vh;
    width: 10vh;
    margin-left: 5vw;
    font-size: 20px;
}
.parent{
    display: inline-flex;
}



.user_Details{
    background-color: aquamarine;
    width:auto ;
    height: auto;
    border: solid black 2px;
}


.user_Details  img{
    height: 45vh;
    width: 38vw;
   margin-left: 15px;
   
}

.user_Details input{
    font-size: 3vh;
    height: 7vh;
    width: 40vw;
}


.repository_Details{
    position: absolute;
    right: 30vw;
}

#div_border{
    border: solid black 1px;
}
