.grid {
    display: grid;
    gap: 1px;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr);
  }

  .grid > div {
    height: 100px;
    background: red;
    
  } 

.nested_grid{
    display: grid;
    gap: 1px;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr);
}

.nested_grid > div{
    height: 25px;
    background: green;
}

@media screen and (max-width:960px) {
    .grid{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "grid grid"
        "grid grid";
    }
    
}

@media screen and (max-width:640px) {
    .grid{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "grid"
        "grid"
        "grid"
        "grid"
        ;
    }
    
}

